@import "mixin.scss";

//design menu1
$family_menu1_text: 'Devonshire', cursive;
$color_menu1_text: #311c17;
$color_menu1_logo: -webkit-gradient(linear, left top, right bottom, from(#ff0800), to(#ffe395));
$backcolor_menu1: #fae3e6;

//design menu2
$family_menu2_text: "Dancing Script", cursive;
$color_menu2_text: -webkit-gradient(linear, left top, right bottom, from(#1d0bc2), to(#3498b6));
$backcolor_menu2: #f5fcff;
$color_plat-prix_menu2-4: #0f0e0e;

//design menu3
$family_menu3_text: 'Croissant One', cursive;
$color_menu3_text: -webkit-gradient(linear, left top, right bottom, from(#e0960b), to(#6c34b6));
$backcolor_menu3: #fff5f6;
$color_par1_menu3: #e0960b;
$color_par2_menu3: #6c34b6;
$color_par3_menu3: #34225f;
//design menu4
$family_menu4_text: 'Kaushan Script', cursive;
$color_menu4_text: -webkit-gradient(linear, left top, right bottom, from(#0f700c), to(#a3f30d));
$backcolor_menu4: #fbfffb;

//Titre et Mention
$colortitle: #ffc400;

/* INDEX */

body {
  max-width: 1440px;
  margin: auto;
}

h2 {
  margin: 0;
}

.container {
  display: flex;
  flex-direction: column;
  color: $colortitle;
  width: 100%;
  min-width: 300px;
  margin: auto;
  @include breakpoint(small) {
    width: 80%;
  }
}

.header {
  top: 0;
  left: 0;
  right: 0;
  background-color: #2c9475;
  height: 100px;
  min-width: 300px;
  text-align: center;
  display: flex;
  font-family: 'Roboto', sans-serif;
  a {
    font-weight: bold;
    margin: auto;
    font-size: 3em;
    text-decoration: none;
    color: $colortitle;
  }
}

.contenu {
  margin-top: 40px;
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
}

.menu {
  @include breakpoint(small) {
    display: flex;
    justify-content: space-around;
  }
  a {
    text-decoration: none;
  }
  &-1,
  &-2,
  &-3,
  &-4 {
    width: 300px;
    height: 425px;
    margin: auto;
    margin-bottom: 30px;
    text-align: center;
    border: solid 5px rgba($color: #749e98, $alpha: 0.05);
    border-radius: 3px;
    overflow: hidden;
    &--zoom {
      transition: transform 0.2s;
      &:hover {
        transform: scale(1.05);
        filter: opacity(60%);
      }
    }
    &__nom {
      font-size: 2em;
      margin-top: 50%;
    }
    &__text {
      padding-top: 10%;
      font-size: 2.5em;
    }
  }
  &-1 {
    background-color: $backcolor_menu1;
    color: $color_menu1_text;
    &__nom {
      font-family: $family_menu1_text;
      font-weight: normal;
      margin-top: 35%;
      &:before {
        content: "♫";
        background: $color_menu1_logo;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        display: block;
      }
    }
    &__text {
      font-family: 'Caveat', cursive;
      font-weight: 600;
    }
  }
  &-2 {
    background-color: $backcolor_menu2;
    &__nom {
      font-family: $family_menu2_text;
      background: $color_menu2_text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
    &__text {
      color: #3498b6;
      font-family: 'Caveat', cursive;
    }
  }
  &-3 {
    background-color: $backcolor_menu3;
    &__nom {
      font-family: $family_menu3_text;
      background: $color_menu3_text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      font-size: 1.5em;
    }
    &__text {
      color: #c27e00;
      font-family: 'Cantata One', serif;
    }
  }
  &-4 {
    background-color: $backcolor_menu4;
    &__nom {
      font-family: $family_menu4_text;
      background: $color_menu4_text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
    &__text {
      color: #18a813;
      font-family: 'Caveat', cursive;
    }
  }
}

.prochainement {
  background-color: #2c9475;
  font-size: 1.5em;
  padding: 10px 5px 10px 5px;
  text-align: center;
  width: 250px;
  margin: auto;
  border-radius: 10px;
  overflow: hidden;
  &:after {
    overflow: hidden;
    display: inline-block;
    vertical-align: bottom;
    animation: ellipsis steps(4, end) 3000ms infinite;
    content: "\2026"; /* ascii code for the ellipsis character */
    width: 0px;
  }
  @keyframes ellipsis {
    to {
      width: 1.25em;
    }
  }
}

.footer {
  background-color: #2c9475;
  height: 100px;
  min-width: 300px;
  text-align: center;
  position: sticky;
  bottom: 0;
  left: 0;
  right: 0;
  font-size: 1.75em;
  display: flex;
  font-family: 'Roboto', sans-serif;
  a {
    text-decoration: none;
    color: $colortitle;
  }
  @include breakpoint(small) {
    &__mention {
      float: left;
      margin-left: 10%;
    }
    &__contact {
      float: right;
      margin-right: 10%;
    }
  }
  &__contact,
  &__mention {
    margin: auto;
    &:hover {
      animation: shake 1s;
      animation-iteration-count: infinite;
    }
  }
  @keyframes shake {
    10%,
    90% {
      transform: translate3d(-1px, -1px, 0px);
    }

    20%,
    80% {
      transform: translate3d(1px, -2px, 0px);
    }

    30%,
    50%,
    70% {
      transform: translate3d(-1px, -3px, 0px);
    }

    40%,
    60% {
      transform: translate3d(1px, -4px, 0px);
    }
  }
}

/* PAGE */
h1{
  text-align: center;
  color: #000;
  font-family: 'Roboto', sans-serif;
}

.plat {
  text-align: center;
  width: 100%;
  &-1,
  &-2,
  &-3,
  &-4 {
    margin: 0 0px 50px 0px;
    border-radius: 10px;
    padding-bottom: 20px;
    font-family: 'Roboto', sans-serif;
    &__title {
      font-size: 2em;
      text-align: center;
      &__nom {
        padding-top: 50px;;
        position: relative;
        margin: auto;
        width: 300px;
        height: 75px;
        &:after {
          content: "";
          position: absolute;
          width: 0;
          height: 3px;
          display: block;
          margin-top: 3px;
          right: 0;
          transition: width 2s ease;
          -webkit-transition: width 2s ease;
        }
        &:hover:after {
          width: 100%;
          left: 0;
        }
      }
    }
    &__text {
      &-part1,
      &-part2,
      &-part3 {
        margin-right: 10%;
        margin-left: 10%;
        font-family: 'PT Sans', sans-serif;
        font-style: italic;
        text-align: center;
        &_titre-1,
        &_titre-2,
        &_titre-3,
        &_titre-4 {
          margin-top: 30px;
          margin-bottom: 30px;
          font-size: 1.5em;
          img {
            width: 0px;
            height: 0px;
           
          }
          &_underline {
            position: relative;
            &:after {
              content: "";
              position: absolute;
              width: 0px;
              height: 3px;
              display: block;
              margin-top: 3px;
              right: 0;
              transition: width 2s ease;
              -webkit-transition: width 2s ease;
            }
            &:hover:after {
              width: 100%;
              left: 0;
            }
          }
          @include breakpoint(small) {
            display: flex;
            justify-content: space-between;
            img {
              width: 20%;
              height: 10px;
              padding-top: 10px;
            }
          }
        }
        &_paragraphe {
          &-1,
          &-2,
          &-3,
          &-4 {
            display: flex;
            justify-content: space-between;
            margin-bottom: 25px;
            font-size: 1em;
            &__produit {
              margin-right: 25px;
              text-align: left;
            }
            &__prix {
              font-weight: bold;
              margin-top: auto;
              margin-bottom: auto;
            }
          }
        }
      }
    }
  }
  &-1 {
    background-color: $backcolor_menu1;
    color: $color_menu1_text;
    font-family: $family_menu1_text;
    &__title {
      &__nom {
        font-size: 1.50em;
        font-weight: normal;
        margin-bottom: 100px;
        &:after {
          background: $color_menu1_text;
        }
        &:after:hover {
          background: $color_menu1_text;
        }
        &:before {
          content: "♫";
          background: $color_menu1_logo;
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          display: block;
          text-align: center;
        }
      }
    }
    &__text {
      &-part1,
      &-part2,
      &-part3 {
        &_titre-1,
        &_titre-2,
        &_titre-3 {
          &_underline {
            &:after {
              background: $color_menu1_text;
            }
            &:after:hover {
              background: $color_menu1_text;
            }
          }
        }
      }
      &-part4{
        font-size: 2.5em;
        font-weight: normal;
        margin-top: 50px;
        text-align: center;
        &:after {
          background: $color_menu1_text;
        }
        &:after:hover {
          background: $color_menu1_text;
        }
        &:before {
          content: "♫";
          background: $color_menu1_logo;
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          text-align: center;
        }
      } 
    }
  }
  &-2 {
    background-color: $backcolor_menu2;
    color: $color_plat-prix_menu2-4;
    font-family: $family_menu2_text;
    &__title {
      &__nom {
        font-size: 1.20em;
        background: $color_menu2_text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        &:after {
          background: $color_menu2_text;
        }
        &:after:hover {
          background: $color_menu2_text;
        }
      }
    }
    &__text {
      &-part1,
      &-part2,
      &-part3 {
        &_titre-1,
        &_titre-2,
        &_titre-3 {
          &_underline {
            &:after {
              background: $color_menu2_text;
            }
            &:after:hover {
              background: $color_menu2_text;
            }
          }
        }
      }
    }
  }
  &-3 {
    background-color: $backcolor_menu3;
    font-family: $family_menu3_text;
    &__title {
      &__nom {
        width: 375px;
        font-size: 1em;
        background: $color_menu3_text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        &:after {
          background: $color_menu3_text;
        }
        &:after:hover {
          background: $color_menu3_text;
        }
      }
    }
    &__text {
      &-part1 {
        color: $color_par1_menu3;
        &_titre-1 {
          &_underline {
            &:after {
              background: $color_par1_menu3;
            }
            &:after:hover {
              background: $color_par1_menu3;
            }
          }
        }
      }
      &-part2 {
        color: $color_par2_menu3;
        &_titre-2 {
          &_underline {
            &:after {
              background: $color_par2_menu3;
            }
            &:after:hover {
              background: $color_par2_menu3;
            }
          }
        }
      }
      &-part3 {
        color: $color_par3_menu3;
        &_titre-3 {
          &_underline {
            &:after {
              background: $color_par3_menu3;
            }
            &:after:hover {
              background: $color_par3_menu3;
            }
          }
        }
      }
    }
  }
  &-4 {
    background-color: $backcolor_menu4;
    font-family: $family_menu4_text;
    color: $color_plat-prix_menu2-4;
    &__title {
      &__nom {
        font-size: 1.3em;
        background: $color_menu4_text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        &:after {
          background: $color_menu4_text;
        }
        &:after:hover {
          background: $color_menu4_text;
        }
      }
    }
    &__text {
      &-part1,
      &-part2,
      &-part3 {
        &_titre-1,
        &_titre-2,
        &_titre-3 {
          &_underline {
            &:after {
              background: $color_menu4_text;
            }
            &:after:hover {
              background: $color_menu4_text;
            }
          }
        }
      }
    }
  }
}
