.container{
    display: flex;
    flex-direction: column;
    background-color: whitesmoke;
    color: gold;
}

/* HEADER */

.header{
    top: 0;
    left: 0;
    background-color: darkgreen;
    height: 100px;
    text-align: center;
    display: flex;
    width: 100%;  
}

.header span{ 
  font-weight:bold;
  margin: auto;
  font-size: 3em;
}


/* conteu */

.contenu{
    margin-top: 40px;
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.menu img{
    width: 40%;
    margin-bottom: 60px;
    margin-right: 2.5%;
    margin-left: 2.5%;
}


.prochainement{
    background-color: darkgreen;
    font-size: 1.5em;
    padding: 10px 5px 10px 5px;
    text-align: center;
    width: 200px;
    margin: auto;
    border-radius: 10px;
    overflow: hidden;  

}

a{
    text-decoration:none;
    color: gold;
}

.prochainement:after {
    overflow: hidden;
    display: inline-block;
    vertical-align: bottom;
    -webkit-animation: ellipsis steps(4,end) 3000ms infinite;      
    content: "\2026"; /* ascii code for the ellipsis character */
    width: 0px;
  }
  
  @keyframes ellipsis {
    to {
      width: 1.25em;    
    }
  }
  
  @-webkit-keyframes ellipsis {
    to {
      width: 1.25em;    
    }
  }



/*footer*/

.footer{
    background-color: darkgreen;
    width: 100%;
    height: 100px; 
    text-align: center;
    position:  sticky;
    bottom:0;
    left: 0;
    font-size: 1.75em;
}

.mention{
    float: left;
    margin-left: 10%;
}

.contact{
    float: right;
    margin-right: 10%;      
}

.contact, .mention{
    animation: thing 3s infinite;
    margin-top: 30px; 
}

@keyframes thing {
    0%{transform: rotate(0deg)}
    5%{transform: rotate(-5deg)}
    10%{transform: rotate(5deg)}
    15%{transform: rotate(-5deg)}
    20%{transform: rotate(5deg)}
    25%{transform: rotate(-5deg)}
    30%{transform: rotate(5deg)}
    35%{transform: rotate(-5deg)}
    40%{transform: rotate(5deg)}
    45%{transform: rotate(-5deg)}
    50%{transform: rotate(5deg)}
    55%{transform: rotate(-5deg)}
    60%{transform: rotate(5deg)}
    65%{transform: rotate(-5deg)}
    70%{transform: rotate(5deg)}
    75%{transform: rotate(-5deg)}
    80%{transform: rotate(5deg)}
    85%{transform: rotate(-5deg)}
    90%{transform: rotate(5deg)}
    95%{transform: rotate(-5deg)}
    100%{transform: rotate(5deg)}
}


/* MENU */ 

.name{
    font-size: 3em;
    color:black;
    margin-bottom: 40px;
    font-weight:bold;
    
}

.plat img{
    width: 80%;
}