/* HEADER */

.header{
    background-color: darkgreen;
    height: 100px;
    margin-bottom: 25px;
    text-align: center;
    display: flex;
    width: 100%;
}

.header span{
  color: goldenrod;
  font-weight:bold;
  margin: auto;
}


/* conteu */

.menu{
    display: flex;
    justify-content: space-around;
}

img{
    width: 40%;
    margin-bottom: 25px;
}


.prochainement{
    background-color: darkgreen;
    color: goldenrod;
    padding: 10px 5px 10px 5px;
    text-align: center;
    width: 100px;
    margin: auto;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 20px;
}

/*footer*/

.footer{
    background-color: darkgreen;
    color: goldenrod;
    width: 100%;
    height: 100px; 
    text-align: center;
    position:fixed;
    bottom:0;
    left: 0;
}

.mention{
    float: left;
    padding-left: 5%;
    margin-top: 40px;
}

.contact{
    float: right;
    padding-right: 5%;
    margin-top: 40px;
}