@import 'mixin.scss';

//design menu1
$family_menu1_text:'Dancing Script', cursive;
$color_menu1_text:#311c17;
$family_menu1_logo:'Noto Sans TC', sans-serif;
$color_menu1_logo:-webkit-gradient(linear, left top, right bottom, from(#ff0800), to(#ffe395));
$backcolor_menu1:#fae3e6;

//design menu2
$family_menu2_text:'Pacifico', cursive;
$color_menu2_text:-webkit-gradient(linear, left top, right bottom, from(#1d0bc2), to(#3498b6));
$backcolor_menu2:#f5fcff;
$color_plat-prix_menu2-4: #0f0e0e;

//design menu3
$family_menu3_text:'Lobster', cursive;
$color_menu3_text:-webkit-gradient(linear, left top, right bottom, from(#e0960b), to(#6c34b6));
$backcolor_menu3:#fff5f6;
$color_par1_menu3: #e0960b;
$color_par2_menu3: #6c34b6;
$color_par3_menu3: #34225f;
//design menu4
$family_menu4_text:'Aladin', cursive;
$color_menu4_text:-webkit-gradient(linear, left top, right bottom, from(#0f700c), to(#a3f30d));
$backcolor_menu4:#fbfffb;

 /* INDEX */

body{
  max-width: 1440px;
  margin:auto;
}

.container{
  display: flex;
  flex-direction: column;
  color: #ffc400;
  width: 80%;
  min-width: 300px;
  margin: auto;
}

.header{
  top: 0;
  left: 0;
  right: 0;
  background-color: #2c9475;
  height: 100px;
  min-width: 300px;
  text-align: center;
  display: flex; 
  span{
    font-weight:bold;
    margin: auto;
    font-size: 3em;
  }
}

.contenu{
  margin-top: 40px;
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
}

.menu{
  @include breakpoint(small){
    display: flex;
    justify-content: space-around;
  }
  a{
    text-decoration: none;
  }
  &-1, &-2, &-3, &-4{
    width: 300px;
    height: 425px;
    margin: auto;
    margin-bottom: 30px;
    text-align: center;
    font-style: italic;
    border: solid 5px rgba($color: #749e98, $alpha: 0.05);
    border-radius: 3px;
    overflow: hidden;
    &--zoom{
      transition: transform .2s;
      &:hover {
        transform: scale(1.05); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
      }
    }
    &__logo{
      padding-top: 50%;
      font-size: 3em;
      font-style: normal;
    }
    &__nom{
      font-size: 2em;
    }
    &__text{
      padding-top: 10%;
      font-size: 2.5em;
      font-family: 'Do Hyeon', sans-serif;
    }
  }
  &-1{
    background-color:$backcolor_menu1;
    color:$color_menu1_text;
    &__logo{
      padding-top: 33%;
      font-family: $family_menu1_logo ;
      background: $color_menu1_logo;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
    &__nom{
      font-family:$family_menu1_text ;
      font-weight: bold;
    }
  }
  &-2{
    background-color:$backcolor_menu2 ;
    &__nom{
      font-family: $family_menu2_text;
      background: $color_menu2_text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
    &__text{
      color: #3498b6;
    }
  }  
  &-3{
    background-color: $backcolor_menu3 ;
    &__nom{
      font-family:$family_menu3_text ;
      background: $color_menu3_text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
    &__text{
      color : #c27e00;
    }
  }
  &-4{
    background-color: $backcolor_menu4;
    &__nom{
      font-family: $family_menu4_text;
      background:$color_menu4_text ;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
    &__text{
      color : #18a813;
    }
  }
}

.prochainement{
  background-color: #2c9475;
  font-size: 1.5em;
  padding: 10px 5px 10px 5px;
  text-align: center;
  width: 250px;
  margin: auto;
  border-radius: 10px;
  overflow: hidden;     
  &:after {
    overflow: hidden;
    display: inline-block;
    vertical-align: bottom;
    animation: ellipsis steps(4,end) 3000ms infinite;      
    content: "\2026"; /* ascii code for the ellipsis character */
    width: 0px;
  }
  @keyframes ellipsis {
    to {
    width: 1.25em;    
    }
  }
}

.footer{
  background-color: #2c9475;
  height: 100px; 
  min-width: 300px;
  text-align: center;
  position:  sticky;
  bottom:0;
  left: 0;
  right: 0;
  font-size: 1.75em;
  display: flex;
  a{
    text-decoration: none;
    color: #ffc400;
  }
  @include breakpoint(small){
    &__mention{
      float: left;
      margin-left: 10%;
    }
    &__contact{
      float: right;
      margin-right: 10%;      
    }
  }
  &__contact, &__mention{
    animation: thing 3s infinite;
    margin: auto;
  }
  @keyframes thing {
    0%{transform: rotate(0deg)}
    5%{transform: rotate(-5deg)}
    10%{transform: rotate(5deg)}
    15%{transform: rotate(-5deg)}
    20%{transform: rotate(5deg)}
    25%{transform: rotate(-5deg)}
    30%{transform: rotate(5deg)}
    35%{transform: rotate(-5deg)}
    40%{transform: rotate(5deg)}
    45%{transform: rotate(-5deg)}
    50%{transform: rotate(5deg)}
    55%{transform: rotate(-5deg)}
    60%{transform: rotate(5deg)}
    65%{transform: rotate(-5deg)}
    70%{transform: rotate(5deg)}
    75%{transform: rotate(-5deg)}
    80%{transform: rotate(5deg)}
    85%{transform: rotate(-5deg)}
    90%{transform: rotate(5deg)}
    95%{transform: rotate(-5deg)}
    100%{transform: rotate(5deg)}
  }
}

/* PAGE */

.plat{
  text-align: center;
  width: 100%;
  &-1, &-2, &-3, &-4{ 
    padding-bottom: 20px;
    &__title{ 
      font-size: 2em; 
      &__logo{
        font-size: 2em;
        font-style: normal;     
        }
      &__nom{     
        position: relative;  
        margin: auto;  
        width: 300px; height: 75px;   
        &:after{
          content: '';
          position: absolute;
          width: 0; height: 3px;
          display: block;
          margin-top: 3px;
          right: 0;
          transition: width .2s ease;
          -webkit-transition: width .5s ease;
          }
        &:hover:after{
          width: 100%;
          left: 0;         
        }
      }
    }
    &__text{
      margin-right: 10%;
      margin-left: 10%;
      &-part1,&-part2,&-part3{
        &_titre-1,&_titre-2,&_titre-3,&_titre-4{
          margin-top: 30px;
          margin-bottom: 30px;
          font-size: 2em;
        }
        &_paragraphe{     
          &-1,&-2,&-3,&-4{
            display: flex;
            justify-content: space-between;
            margin-bottom: 25px;
            font-size: 1.5em;
            position: relative; 
            &__produit{
              margin-right: 25px;
              vertical-align: middle;
            }
            &__prix{
              font-weight:bold;
              vertical-align: middle;
            } 
          }
        }
      }
    }  
  }
  &-1{   
    background-color: $backcolor_menu1;
    color: $color_menu1_text;
    font-family: $family_menu1_text;
    &__title{  
      &__nom{
        font-size: 1.4em;
        &:after{
          background:$color_menu1_text
        }
        &:after:hover{
          background:$color_menu1_text
        }
      }     
      &__logo{
        background: $color_menu1_logo;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-family: $family_menu1_logo;
      }
    }
  }
  &-2{   
    background-color: $backcolor_menu2;
    color: $color_plat-prix_menu2-4;
    font-family: $family_menu2_text;
    &__title{  
      &__nom{
        font-size: 1.05em;
        background: $color_menu2_text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        &:after{
          background:$color_menu2_text
        }
        &:after:hover{
          background:$color_menu2_text
        }
      }  
    }  
  }
  &-3{   
    background-color: $backcolor_menu3;
    font-family: $family_menu3_text;
    &__title{  
      &__nom{
        font-size: 1.15em;
        background: $color_menu3_text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        &:after{
          background:$color_menu3_text
        }
        &:after:hover{
          background:$color_menu3_text
        }
      }  
    }
    &__text{
      &-part1{
      color:$color_par1_menu3;
      }
      &-part2{
        color:$color_par2_menu3;
      }
      &-part3{
        color:$color_par3_menu3;
      }
    }
  }
  &-4{   
    background-color: $backcolor_menu4;
    font-family: $family_menu4_text;
    color: $color_plat-prix_menu2-4;
    &__title{  
      &__nom{
        font-size: 1.55em;
        background: $color_menu4_text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        &:after{
          background:$color_menu4_text
        }
        &:after:hover{
          background:$color_menu4_text
        }
      }  
    }  
  }
}
