@import 'mixin.scss';


 /*//////////////////
        INDEX
/////////////////*/

body{
  max-width: 1440px;
  margin:auto;
}

.container{
  display: flex;
  flex-direction: column;
  color: #ffc400;
  width: 80%;
  min-width: 300px;
  margin: auto;
}

.header{
  top: 0;
  left: 0;
  right: 0;
  background-color: #2c9475;
  height: 100px;
  min-width: 300px;
  text-align: center;
  display: flex; 
  span{
    font-weight:bold;
    margin: auto;
    font-size: 3em;
  }
}

.contenu{
  margin-top: 40px;
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
}

.menu{
  @include breakpoint(small){
    display: flex;
    justify-content: space-around;
  }
  a{
    text-decoration: none;
  }
  &-1, &-2, &-3, &-4{
    width: 300px;
    height: 425px;
    margin: auto;
    margin-bottom: 30px;
    text-align: center;
    font-style: italic;
    border: solid 5px rgba($color: #749e98, $alpha: 0.05);
    border-radius: 3px;
    &__logo{
      padding-top: 50%;
      font-size: 3em;
      font-style: normal;
      font-family: 'Noto Sans TC', sans-serif;
    }
    &__nom{
      font-size: 2em;
    }
    &__text{
      padding-top: 10%;
      font-size: 2.5em;
      font-family: 'Do Hyeon', sans-serif;
    }
  }
  &-1{
    background-color: #fae3e6;
    color: #311c17;
    &__logo{
      padding-top: 33%;
      background: -webkit-gradient(linear, left top, right bottom, from(#ff0800), to(#ffe395));
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
    &__nom{
      font-family: 'Dancing Script', cursive;
      font-weight: bold;
    }
  }
  &-2{
    background-color: #f5fcff;
    &__nom{
      font-family: 'Pacifico', cursive;
      background: -webkit-gradient(linear, left top, right bottom, from(#1d0bc2), to(#3498b6));
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
    &__text{
      color: #3498b6;
    }
  }  
  &-3{
    background-color:  #fff5f6;
    &__nom{
      font-family: 'Lobster', cursive;
      background: -webkit-gradient(linear, left top, right bottom, from(#e0960b), to(#6c34b6));
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
    &__text{
      color : #c27e00;
    }
  }
  &-4{
    background-color: #fbfffb;
    &__nom{
      font-family: 'Aladin', cursive;
      background: -webkit-gradient(linear, left top, right bottom, from(#0f700c), to(#a3f30d));
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
    &__text{
      color : #18a813;
    }
  }
}

.prochainement{
  background-color: #2c9475;
  font-size: 1.5em;
  padding: 10px 5px 10px 5px;
  text-align: center;
  width: 250px;
  margin: auto;
  border-radius: 10px;
  overflow: hidden;     
  &:after {
    overflow: hidden;
    display: inline-block;
    vertical-align: bottom;
    animation: ellipsis steps(4,end) 3000ms infinite;      
    content: "\2026"; /* ascii code for the ellipsis character */
    width: 0px;
  }
  @keyframes ellipsis {
    to {
    width: 1.25em;    
    }
  }
}

.footer{
  background-color: #2c9475;
  height: 100px; 
  min-width: 300px;
  text-align: center;
  position:  sticky;
  bottom:0;
  left: 0;
  right: 0;
  font-size: 1.75em;
  display: flex;
  a{
    text-decoration: none;
    color: #ffc400;
  }
  @include breakpoint(small){
    &__mention{
      float: left;
      margin-left: 10%;
    }
    &__contact{
      float: right;
      margin-right: 10%;      
    }
  }
  &__contact, &__mention{
    animation: thing 3s infinite;
    margin: auto;
  }
  @keyframes thing {
    0%{transform: rotate(0deg)}
    5%{transform: rotate(-5deg)}
    10%{transform: rotate(5deg)}
    15%{transform: rotate(-5deg)}
    20%{transform: rotate(5deg)}
    25%{transform: rotate(-5deg)}
    30%{transform: rotate(5deg)}
    35%{transform: rotate(-5deg)}
    40%{transform: rotate(5deg)}
    45%{transform: rotate(-5deg)}
    50%{transform: rotate(5deg)}
    55%{transform: rotate(-5deg)}
    60%{transform: rotate(5deg)}
    65%{transform: rotate(-5deg)}
    70%{transform: rotate(5deg)}
    75%{transform: rotate(-5deg)}
    80%{transform: rotate(5deg)}
    85%{transform: rotate(-5deg)}
    90%{transform: rotate(5deg)}
    95%{transform: rotate(-5deg)}
    100%{transform: rotate(5deg)}
  }
}



