html, body{
    background-color: whitesmoke;
    height: 100%;
}

.container{
    height: 100%;
    width: 100%;
    position: relative;
}

/* HEADER */

.header{
    position: absolute;
    top: 0;
    left: 0;
    background-color: darkgreen;
    height: 100px;
    text-align: center;
    display: flex;
    width: 100%;  
}

.header span{
  color: gold;
  font-weight:bold;
  margin: auto;
  font-size: 3em;
}


/* conteu */

.contenu{
    position: absolute;
    top: 25%;
}

.menu{
    display: flex;
    justify-content: space-around;
}

img{
    width: 40%;
    margin-bottom: 60px;
}


.prochainement{
    background-color: darkgreen;
    color: gold;
    font-size: 1.5em;
    padding: 10px 5px 10px 5px;
    text-align: center;
    width: 200px;
    margin: auto;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 140px;
}


/*footer*/

.footer{
    background-color: darkgreen;
    color: gold;
    width: 100%;
    height: 100px; 
    text-align: center;
    position:fixed;
    bottom:0;
    left: 0;
    font-size: 1.75em;
}

.mention{
    float: left;
    margin-left: 10%;
    margin-top: 30px;
}

.contact{
    float: right;
    margin-right: 10%;
    margin-top: 30px;
}